.match-options-item svg,
.match-options-radio svg {
  display: none;
}
.active-tick svg {
  display: inline-block;
  color: #0d6efd;
  float: right;
  margin-top: 4px;
  margin-left: 12px;
}
.dropdown-item .text-muted {
  width: 86%;
  font-size: 80%;
}

.error-message {
  font-family: arial;
  font-size: 90%;
  background: rgba(255, 0, 0, 0.2);
}

.cm-editor * {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}
.cm-editor.cm-focused {
  outline: none;
}
.cm-editor .cm-space {
  position: relative;
}
.cm-editor .cm-space::before {
  color: rgba(127, 127, 127, 0.33);
  content: "␣";
  position: absolute;
}
.cm-editor .cm-specialChar {
  color: #d22;
}
.cm-editor .cm-newline {
  pointer-events: none;
  color: rgba(127, 127, 127, 0.33);
}

.dropdown-menu {
  min-width: 200px;
}

.button-circle {
  width: 2rem;
  height: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

#match-count {
  font-size: 90%;
}

#debugger-button {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 15px;
  border-width: 1px;
  border-color: #dee2e6;
  border-style: solid;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  list-style: none;
  margin: 0 6px;
  padding: 4px 16px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size: 90%;
  font-weight: 600;
}
#debugger-button:hover {
  background-color: #2222221a;
}
#debugger-button:disabled {
  background-color: #e9ecef;
  color: #6c757d;
  cursor: not-allowed;
}

#debugger-regex {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

@media (min-width: 576px) {
  .root-container {
    height: 100%;
  }
}
